<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <div><%= @subscription.title %></div>
  <div><%= @subscription.xmlUrl %></div>
  <div><%= @subscription.id %></div>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
